@import "../../util/styles.scss";

.DataPage {
  overflow: auto;
  position: relative;
  min-height: 400px;
}

.DataPage__loading {
  @include position(absolute, 50%, 0);
  @include transition(transform);
  transition-delay: .2s;
  padding: 8px;
  background: #feffd3;
  border: 1px solid #f9f889;
  border-radius: 0 0 5px 5px;
  transform: translate3d(-50%, -150%, 0);
  box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.12);
}

.DataPage__loading.DataPage__loading_visible {
  transform: translate3d(-50%, 0, 0);
  transition-delay: 0s;
}

.DataPage__error {
  @include position(fixed, $left: 0, $right: 0, $bottom: 0);
  @include transition(transform);
  @include flex(row);
  padding: 8px;
  background: #fff;
  border-top: 1px solid #ededed;
  box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.12);
}

.DataPage__error-message {
  margin-right: 50px;
}