@import "../../util/styles.scss";

.DataPage {
}

.DataPage__error {
  @include position(fixed, $left: 0, $right: 0, $bottom: 0);
  @include transition(transform);
  @include flex(row);
  padding: 8px;
  background: #fff;
  border-top: 1px solid #ededed;
  box-shadow: 0 7px 7px 0 rgba(0, 0, 0, 0.12);
}

.DataPage__error-message {
  margin-right: 50px;
}